@import '../css/vars.css';

.page_index {
  &_header {
    padding: calc(var(--yr) * 8) var(--xr) calc(var(--yr) * 16);
    color: white;
    position: relative;
    z-index: 1;

    &_wrapper {
      background-color: color(black alpha(-60%));
      position: relative;
      overflow: hidden;

      .bgvid {
        /* display: none; */
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
      }
    }

    .logo {
      padding-right: 60px;
      max-width: 23rem;

      svg {
        display: block;

        .main {
          /* fill: var(--pr_color); */
          fill: white;
        }
      }
    }

    .slogan {
      font-size: calc(var(--yr) * 10);
      line-height: calc(var(--yr) * 12);
      font-weight: var(--fw_bold);
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: calc(var(--yr) * 8) 0;

      @media (--s) {
        font-size: calc(var(--yr) * 22.5);
        line-height: calc(var(--yr) * 24);
      }
    }

    .place {
      margin: 0 0 calc(var(--yr) * 8);
    }

    .join {
      a {
        background-color: #fcb72d;
        border: 0;
        color: black;
        display: inline-block;
        border-radius: var(--yr);
        padding: calc(var(--yr) * 5) calc(var(--xr));
        font-size: calc(var(--yr) * 4.5);
        line-height: calc(var(--yr) * 6);
        font-family: inherit;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        outline: none;
        text-decoration: none;
        font-weight: var(--fw_semi);

        @media (--s) {
          font-size: calc(var(--yr) * 5.5);
          line-height: calc(var(--yr) * 6);

        }
      }
    }

    @media (--s) {
      .logo {
        padding: calc(var(--yr) * 8) 0;
        height: calc(var(--yr) * 32);
      }

      .join {
        position: absolute;
        top: calc(var(--yr) * 16);
        right: var(--xr);
      }
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

      .slogan {
        max-width: 64rem;
      }
    }
  }

  &_intro {
    padding: calc(var(--yr) * 8) var(--xr);

    .when {
      color: #1f4995;
      margin: 0 0 calc(var(--yr) * 8);
      font-size: calc(var(--yr) * 8);
      line-height: calc(var(--yr) * 9);
      font-weight: var(--fw_bold);

      @media (--s) {
        font-size: calc(var(--yr) * 22);
        line-height: calc(var(--yr) * 24);
      }
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

      .who {
        max-width: 80%;
      }
    }
  }

  &_schedule {
    padding: calc(var(--yr) * 8) var(--xr) calc(var(--yr) * 16);
    max-width: 50rem;

    & > .title {
      margin-bottom: calc(var(--yr) * 4);
    }

    .days {
      &_item {
        margin: 0 0 calc(var(--yr) * 8);

        &.first {
          .date {
            background: linear-gradient(to right, var(--sc_color), color(var(--sc_color) alpha(-100%)));
          }

          .section {
            &_content {
              border-bottom: 3px solid var(--sc_color);
            }

            &_time {
              color: var(--sc_color);
            }
          }
        }

        &.second {
          .date {
            background: linear-gradient(to right, var(--th_color), color(var(--th_color) alpha(-100%)));
          }

          .section {
            &_content {
              border-bottom: 3px solid var(--th_color);

              &_item {
                &.wln {
                  padding: 0 0 calc(var(--yr) * 3);
                  margin: calc(var(--yr) * 8) 0 0;
                  border-bottom: 3px solid var(--th_color);

                  &:last-child {
                    margin-bottom: calc(-1 * (var(--yr) * 3 + 3px));
                    border-bottom: 0;
                  }
                }
              }
            }

            &_time {
              color: var(--th_color);
            }
          }
        }

        .date {
          font-size: calc(var(--yr) * 5);
          line-height: calc(var(--yr) * 17);
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-weight: var(--fw_bold);
          padding: 0 var(--xr);
          color: white;
          margin: 0 0 calc(var(--yr) * 4);
        }

        .section {
          display: grid;
          grid-template-columns: 4rem 1fr;

          &_time {
            font-weight: var(--fw_bold);
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 4);
            padding-top: calc(var(--yr));
            padding-right: var(--xr);
          }

          &_content {
            grid-column: 2 / span 1;
            padding: 0 0 calc(var(--yr) * 3);
            margin: 0 0 calc(var(--yr) * 8);
            min-height: 55px;

            &_slide {
              display: flex;
              overflow: hidden;

              & > div {
                flex-shrink: 0;
                width: 83%;


              }
            }


            &_title {
              &.bld {
                font-weight: var(--fw_semi);
                font-size: calc(var(--yr) * 5);
                line-height: calc(var(--yr) * 7);
              }

              &.sub {
                text-transform: uppercase;
                letter-spacing: 0.08em;
              }

              &.with_col {
                padding-right: calc(var(--xr) * 3);
                position: relative;

                &::before {
                  content: '+';
                  position: absolute;
                  right: 0;
                  top: 10px;
                  width: 24px;
                  height: 24px;
                  background-color: var(--pr_color);
                  color: white;
                  line-height: 24px;
                  text-align: center;
                  border-radius: 50%;
                  font-weight: var(--fw_bold);

                }
              }
            }

            &_item {
              margin: calc(var(--yr) * 4) 0 0;



              span {
                font-weight: var(--fw_semi);
                font-size: calc(var(--yr) * 5);
                line-height: calc(var(--yr) * 7);
              }
            }
          }
        }

        .meta {
          display: flex;
          flex-wrap: wrap;

          &_item {
            margin: 0 var(--yr) 0 0;
            /* border: 1px solid color(#333 alpha(-70%)); */
            color: #333;
            /* border-radius: var(--yr); */
            /* padding:  calc(var(--yr) * 0.5) calc(var(--yr) * 2); */
            font-size: calc(var(--yr) * 3.5);
            text-transform: uppercase;
            letter-spacing: 0.01em;

            &.industry {
              color: #E67207;
              border-color: color(#E67207 alpha(-70%));
            }

            &.medical {
              color: #0a7a17;
              border-color: color(#0a7a17 alpha(-70%));
            }

            &.goverment {
              color: #A166AB;
              border-color: color(#A166AB alpha(-70%));
            }

            &.city {
              color: #1098AD;
              border-color: color(#1098AD alpha(-70%));
            }

            &.education {
              color: #be0101;
              border-color: color(#cf970f alpha(-70%));
            }

            &.social {
              color: #dca92f;
              border-color: color(#cf970f alpha(-70%));
            }
          }
        }
      }
    }

    @media (--s) {
      .days {
        &_item {
          /* margin: 0 0 calc(var(--yr) * 32); */

          .date {
            /* margin-bottom: calc(var(--yr) * 4); */
          }

          .section {
            /* grid-template-columns: 3rem 1fr; */
            /* margin: 0 0 calc(var(--yr) * 12); */


            &_content {
            }
          }
        }
      }
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

    }
  }
}
