@import '../css/vars.css';

.page_index {
  &_header {
    background: url('../images/1440x640_bg.svg');
    background-repeat: no-repeat;
    background-position: 26%;
    background-size: cover;
    padding: calc(var(--yr) * 8) var(--xr);
    color: var(--th_color);
    position: relative;
    z-index: 1;

    &_wrapper {
      background: url('../images/1440x640_bg.svg');
      background-repeat: no-repeat;
      background-position: 83%;
      background-size: cover;

      position: relative;
      overflow: hidden;
    }

    .logo {
      width: 10rem;
      margin: calc(var(--yr) * 18) auto calc(var(--yr) * 8);

      img {
        display: block;
      }
    }

    .partners {
      display: none;
    }

    .qwe {
      font-weight: var(--fw_bold);
      font-size: calc(var(--yr) * 6);
      line-height: calc(var(--yr) * 8);
      text-align: center;

      .date {
        font-size: calc(var(--yr) * 10);
      }

      .place {
        margin: 0 0 calc(var(--yr) * 8);
      }
    }

    .join {
      a {
        background-color: #fcb72d;
        border: 0;
        color: black;
        display: inline-block;
        border-radius: var(--yr);
        padding: calc(var(--yr) * 3) calc(var(--xr) * 2);
        font-size: calc(var(--yr) * 3.5);
        line-height: calc(var(--yr) * 6);
        font-family: inherit;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        outline: none;
        text-decoration: none;
        font-weight: var(--fw_semi);
      }
    }

    @media (width > 720px) {
      &_wrapper {
        background: none;
      }
    }

    @media (--s) {
      background-position: center;
      padding: 0;
      position: relative;
      margin-bottom: calc(var(--yr) * 8);

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-top: calc(640 / 1080 * 100%);
      }



      .partners {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &_g {
          display: flex;
          position: relative;

          .label {
            position: absolute;
            font-weight: var(--fw_bold);
            top: -56px;
            left: 0;
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 5);
            color: black;
            /* white-space: nowrap; */
            width: 100%;
            text-align: left;
            /* padding-right: calc(var(--xr) * 2); */
            /* transform: translate(-50%, -28px); */
          }

          &_item {
            margin-right: calc(var(--xr) * 2);

            img {
              display: block;
              height: 100px;
            }
          }
        }
      }

      .logo {
        position: absolute;
        left: 50%;
        top: 45%;
        width: calc(6 / 16 * 100%);
        transform: translate(-50%, -50%);
        padding: 0 calc(var(--xr) * 2);
        margin: 0;
      }

      .qwe {
        position: absolute;
        top: calc(var(--yr) * 16);
        right: var(--xr);
        text-align: left;
      }
    }

    @media (--m) {


      &::before {
        padding-top: calc(640 / 1440 * 100%);
      }

      .qwe {
        right: calc(2 / 16 * 100%);
      }

      .slogan {
        /* max-width: 64rem; */
      }
    }
  }

  &_intro {
    padding: calc(var(--yr) * 8) var(--xr);

    .who {
      font-size: calc(var(--yr) * 6);
      line-height: calc(var(--yr) * 8);
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

      .who {
        max-width: 80%;
        font-size: calc(var(--yr) * 8);
        line-height: calc(var(--yr) * 10);
      }
    }
  }

  &_schedule {
    font-size: calc(var(--yr) * 3.5);
    line-height: calc(var(--yr) * 5);
    padding: calc(var(--yr) * 8) var(--xr) 0;

    @media (--s) {
      font-size: calc(var(--yr) * 4.5);
      line-height: calc(var(--yr) * 8);
    }

    & > .title {
      margin-bottom: calc(var(--yr) * 4);
    }

    .days {
      &_item {
        margin: 0 0 calc(var(--yr) * 8);

        &.first {
          .date {
            background: linear-gradient(to right, var(--sc_color), color(var(--sc_color) alpha(-100%)));
          }

          .section {
            &_content {
              border-bottom: 3px solid var(--sc_color);
            }

            &_time {
              color: var(--sc_color);
            }
          }
        }

        &.second {
          .date {
            background: linear-gradient(to right, var(--th_color), color(var(--th_color) alpha(-100%)));
          }

          .section {
            &_content {
              border-bottom: 3px solid var(--th_color);

              &_slider {
                max-width: 100%;
              }

              &_item {
                &.wln {
                  padding: 0 0 calc(var(--yr) * 3);
                  margin: calc(var(--yr) * 8) 0 0;
                  border-bottom: 3px solid var(--th_color);

                  &:last-child {
                    margin-bottom: calc(-1 * (var(--yr) * 3 + 3px));
                    border-bottom: 0;
                  }
                }
              }
            }

            &_time {
              color: var(--th_color);
            }
          }
        }

        .date {
          font-size: calc(var(--yr) * 5);
          line-height: calc(var(--yr) * 17);
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-weight: var(--fw_bold);
          padding: 0 var(--xr);
          color: white;
          margin: 0 0 calc(var(--yr) * 4);
        }

        .section {
          display: flex;

          &_time {
            font-weight: var(--fw_bold);
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 4);
            flex-shrink: 0;
            width: 20%;

            span {
              display: inline-block;
              max-width: 4rem;
              padding-top: calc(var(--yr));
              padding-right: var(--xr);

              @media (--s) {
                max-width: none;
                padding-top: calc(var(--yr) * 2);
              }
            }
          }

          &_content {
            padding: 0 0 calc(var(--yr) * 3);
            margin: 0 0 calc(var(--yr) * 8);
            min-height: 55px;
            width: 80%;

            &_place {
              font-size: calc(var(--yr) * 3.5);
              line-height: calc(var(--yr) * 5);
            }

            &_slider {
              .swiper {
                &-container {
                  padding-bottom: calc(var(--yr) * 12);
                }

                &-pagination {
                  bottom: 0;

                }

                &-slide {
                  width: 90%;
                  padding-right: calc(var(--xr) * 2);

                  .desc {
                    font-size: calc(var(--yr) * 3);
                    line-height: calc(var(--yr) * 4);

                    @media (--s) {
                      font-size: calc(var(--yr) * 4);
                      line-height: calc(var(--yr) * 5.5);

                    }

                    ul {
                      li {
                        /* padding-left: 0; */

                        &::before {
                          /* content: '-'; */
                        }
                      }
                    }
                  }

                  .party {
                    font-size: calc(var(--yr) * 3);
                    line-height: calc(var(--yr) * 4);

                    @media (--s) {
                      font-size: calc(var(--yr) * 4);
                      line-height: calc(var(--yr) * 5.5);
                    }

                    &_list,
                    &_list_anounce {
                      display: none;
                      flex-wrap: wrap;
                    }

                    &_list_anounce {
                      display: flex;
                    }

                    &_show {
                      display: inline-block;
                      cursor: pointer;
                      margin: calc(var(--yr) * 2) 0 0;
                      text-decoration: underline;
                    }

                    &_member {
                      align-content: left;
                      display: flex;
                      justify-content: center;
                      flex-wrap: wrap;
                      flex-direction: column;
                      padding: 0 0 calc(var(--yr) * 3);
                      margin: calc(var(--yr) * 4) 0 0;
                      border-bottom: 1px solid color(white b(+5%));
                      width: 175px;
                      height: 52px;

                      @media (--s) {
                        font-size: calc(var(--yr) * 3.5);
                        line-height: calc(var(--yr) * 4.5);
                      }



                      .member_avatar {
                        background: #f1f1f1;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: var(--xr);
                        position: relative;
                        width: 40px;
                        height: 40px;

                        img {
                          display: block;
                          left: 50%;
                          position: absolute;
                          transform: translateX(-50%);
                          width: 100%;
                          height: auto;
                        }
                      }
                    }
                  }

                  &:last-child {
                    padding-right: 0;
                    margin-right: 10%;
                  }
                }

                /* @media (--m) {
                  &-wrapper {
                    flex-wrap: wrap;
                  }

                  &-slide {
                    border-bottom: 1px solid color(white b(+15%));
                    width: 100%;
                    margin-right: 0;
                    padding: calc(var(--yr) * 4) 0 calc(var(--yr) * 3);

                    &:last-child {
                      margin-bottom: calc(-1 * (var(--yr) * 3 + 1px));
                      border-bottom: 0;
                    }
                  }
                } */
              }
            }


            &_title {
              &.bld {
                font-weight: var(--fw_semi);
                font-size: calc(var(--yr) * 4.5);
                line-height: calc(var(--yr) * 5.5);

                @media (--s) {
                  font-size: calc(var(--yr) * 6);
                  line-height: calc(var(--yr) * 8);
                }
              }

              &.sub {
                text-transform: uppercase;
                letter-spacing: 0.08em;
              }
            }

            &_item {
              margin: calc(var(--yr) * 4) 0 0;

              &.slider_nav {
                display: none;
                font-size: calc(var(--yr) * 2.75);
                line-height: calc(var(--yr) * 6);
                text-transform: uppercase;

                .meta_nav {
                  display: flex;
                  flex-wrap: wrap;

                  &_item {
                    padding: 0 calc(var(--yr) * 2);
                    border: 1px solid color(black alpha(-70%));
                    border-radius: calc(var(--yr) * 3);
                    margin-right: calc(var(--yr) * 2);
                    cursor: pointer;
                    user-select: none;
                    margin-bottom: var(--yr);

                    &.industry {
                      color: #E67207;
                      border-color: color(#E67207 alpha(-70%));

                      &.active {
                        background: #E67207;
                        color: white;
                      }
                    }

                    &.medical {
                      color: #0a7a17;
                      border-color: color(#0a7a17 alpha(-70%));

                      &.active {
                        background: #0a7a17;
                        color: white;
                      }
                    }

                    &.goverment {
                      color: #A166AB;
                      border-color: color(#A166AB alpha(-70%));

                      &.active {
                        background: #A166AB;
                        color: white;
                      }
                    }

                    &.building {
                      color: #1098AD;
                      border-color: color(#1098AD alpha(-70%));

                      &.active {
                        background: #1098AD;
                        color: white;
                      }
                    }

                    &.education {
                      color: #be0101;
                      border-color: color(#cf970f alpha(-70%));

                      &.active {
                        background: #be0101;
                        color: white;
                      }
                    }

                    &.social {
                      color: #dca92f;
                      border-color: color(#cf970f alpha(-70%));

                      &.active {
                        background: #dca92f;
                        color: white;
                      }
                    }

                  }

                }
              }

              .fdt {
                color: var(--sc_color);
                font-weight: var(--fw_bold);
                font-size: calc(var(--yr) * 3.5);
                line-height: calc(var(--yr) * 4);
              }

              &.with_bl {
                padding: 0 0 calc(var(--yr) * 3);
                margin: calc(var(--yr) * 4) 0 0;
                border-bottom: 1px solid color(white b(+5%));

                &:last-child {
                  margin-bottom: 0;
                  padding-bottom: 0;
                  border-bottom: 0;
                }
              }

              b {
                font-weight: var(--fw_semi);
              }

              span {
                font-weight: var(--fw_semi);
                font-size: calc(var(--yr) * 4.5);
                line-height: calc(var(--yr) * 5.5);

                @media (--s) {
                  font-size: calc(var(--yr) * 6);
                  line-height: calc(var(--yr) * 8);
                }
              }
            }
          }
        }

        .meta {
          display: flex;
          margin-bottom: calc(var(--yr) * 2);
          flex-wrap: wrap;

          &_item {
            margin: 0 var(--yr) 0 0;
            color: #333;
            font-size: calc(var(--yr) * 3.5);
            text-transform: uppercase;
            letter-spacing: 0.01em;

            &.industry {
              color: #E67207;
              border-color: color(#E67207 alpha(-70%));
            }

            &.medical {
              color: #0a7a17;
              border-color: color(#0a7a17 alpha(-70%));
            }

            &.goverment {
              color: #A166AB;
              border-color: color(#A166AB alpha(-70%));
            }

            &.building {
              color: #1098AD;
              border-color: color(#1098AD alpha(-70%));
            }

            &.education {
              color: #be0101;
              border-color: color(#cf970f alpha(-70%));
            }

            &.social {
              color: #dca92f;
              border-color: color(#cf970f alpha(-70%));
            }
          }
        }
      }
    }

    @media (--s) {
      .days {
        &_item {
          .section {
            &_content {
              &_slider {
                .swiper-pagination {
                  display: none;
                }
              }

              &_item {
                &.slider_nav {
                  display: block;
                }

                &.swiper-slide {
                  .meta {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

      .days {
        &_item {
          position: relative;

          .section {
            margin-right: calc(2 / 12 * 100%);
          }

          .date {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 10%;
            width: calc(2 / 12 * 100% - var(--xr) * 2);
            text-align: center;
            line-height: calc(var(--yr) * 7);
            padding: 0;

            span {
              font-size: calc(var(--yr) * 12);
              line-height: calc(var(--yr) * 12);
              font-weight: var(--fw_semi);
              display: block;
              margin-top: calc(var(--yr) * 5);
              text-align: center;
            }
          }

          &.first {
            .date {
              background: linear-gradient(to bottom, var(--sc_color), color(var(--sc_color) alpha(-100%)));
            }
          }

          &.second {
            .date {
              background: linear-gradient(to bottom, var(--th_color), color(var(--th_color) alpha(-100%)));
            }
          }
        }
      }
    }

    @media (--l) {
      .days {
        &_item {
          .date {
            padding: 0 calc(var(--xr) * 2);

            span {
              margin: calc(var(--yr) * 5) calc(var(--xr) * -2) 0;
              font-size: calc(var(--yr) * 22);
              line-height: calc(var(--yr) * 22);
            }
          }
        }
      }
    }
  }

  &_logistics {
    padding: 0 var(--xr);

    .in {
      margin-bottom: calc(var(--yr) * 8);

      &_title {
        font-weight: var(--fw_semi);
        font-size: calc(var(--yr) * 4.5);
        line-height: calc(var(--yr) * 5.5);
        margin-bottom: calc(var(--yr) * 4);

        @media (--s) {
          font-size: calc(var(--yr) * 6);
          line-height: calc(var(--yr) * 8);
        }
      }

      &_list {
        &_item {
          margin-bottom: calc(var(--yr) * 8);

          .icons {
            margin-bottom: calc(var(--yr) * 4);
            color: var(--th_color);
            font-weight: var(--fw_semi);
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 6);
            padding-top: calc(var(--yr) * 2);
            padding-left: 150px;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: auto 100%;

            &.air {
              background-image: url('../images/air.png');
            }

            &.rr {
              background-image: url('../images/rr.png');
            }
          }
        }

        @media (--s) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: var(--xr);
        }
      }
    }

    .hotels {
      margin-bottom: calc(var(--yr) * 8);

      &_title {
        font-weight: var(--fw_semi);
        font-size: calc(var(--yr) * 4.5);
        line-height: calc(var(--yr) * 5.5);
        margin-bottom: calc(var(--yr) * 4);

        @media (--s) {
          font-size: calc(var(--yr) * 6);
          line-height: calc(var(--yr) * 8);
        }
      }

      &_list {
        &_item {
          margin-bottom: calc(var(--yr) * 8);

          .icons {
            margin-bottom: calc(var(--yr) * 4);
            color: var(--sc_color);
            font-weight: var(--fw_semi);
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 8);
            padding-left: calc(var(--yr) * 8 + var(--xr) / 2);
            background: url('../images/hotel.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
          }
        }

        @media (--s) {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: var(--xr);
        }
      }
    }

    .objects {
      margin-bottom: calc(var(--yr) * 8);

      &_title {
        font-weight: var(--fw_semi);
        font-size: calc(var(--yr) * 4.5);
        line-height: calc(var(--yr) * 5.5);
        margin-bottom: calc(var(--yr) * 4);

        @media (--s) {
          font-size: calc(var(--yr) * 6);
          line-height: calc(var(--yr) * 8);
        }
      }

      &_list {
        &_item {
          margin-bottom: calc(var(--yr) * 8);

          .icons {
            margin-bottom: calc(var(--yr) * 4);
            color: var(--sc_color);
            font-weight: var(--fw_semi);
            font-size: calc(var(--yr) * 3.5);
            line-height: calc(var(--yr) * 8);
            padding-left: calc(var(--yr) * 8 + var(--xr));
            position: relative;

            .i {
              position: absolute;
              left: 0;
              top: 0;
              height: calc(var(--yr) * 8);
              width: calc(var(--yr) * 8);
              border-radius: 50%;
              border: 1px solid var(--sc_color);
              text-align: center;
            }

            &::after {
              position: absolute;
              content: '';
              height: 1px;
              background: linear-gradient(to right, var(--sc_color), color(var(--sc_color) alpha(-100%)));
              min-width: 10rem;
              left: calc(var(--yr) * 8 + var(--xr));
              top: 50%;
              /* right: 0; */
              transform: translateY(calc(var(--yr) * 2.5));
            }
          }
        }

        @media (--s) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: var(--xr);

          &_item {
            padding-right: var(--xr);
          }
        }

        @media (--l) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
    }

    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);
    }
  }

  &_place {
    padding: 1px var(--xr) calc(var(--yr) * 16);

    &_wrapper {
      background: color(var(--th_color) alpha(-85%));
      margin-top: calc(var(--yr) * 40);
    }

    .image {
      margin-top: calc(var(--yr) * -32);
      background-color: #f1f1f1;
      background-image: url('../images/place.jpg');
      background-position: center;
      background-size: cover;
      position: relative;
      margin-bottom: calc(var(--yr) * 6);

      &::before {
        display: block;
        content: '';
        width: 100%;
        position: relative;
        z-index: -1;
        padding-top: calc(4 / 5 * 100%);

        @media (--s) {
          padding-top: calc(9 / 16 * 100%);
        }
      }
    }

    .text {
      .title {
        font-weight: var(--fw_semi);
        font-size: calc(var(--yr) * 4.5);
        line-height: calc(var(--yr) * 5.5);

        @media (--s) {
          font-size: calc(var(--yr) * 6);
          line-height: calc(var(--yr) * 8);
        }
      }

      .desc {
        color: var(--th_color);
        margin-top: calc(var(--yr) * 2);

        span {
          text-transform: uppercase;
          letter-spacing: 0.08em;
        }
      }
    }


    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);

    }
  }

  &_partners {
    padding: calc(var(--yr) * 8) var(--xr);

    .list_partners {
      display: flex;
      flex-wrap: wrap;
      /* grid-template-columns: 1fr 1fr; */

      &_item {
        margin-bottom: calc(var(--yr) * 4);
        max-width: 100%;
        margin-right: calc(var(--xr) * 2);

        img {
          display: block;
          height: 65px;
          /* max-width: 100%; */
          /* margin: 0 auto; */
        }


        /* &:first-child {
          grid-column: 1 / span 2;
        } */
      }

      /* @media (--s) {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        &_item {

        }
      } */
    }


    @media (--m) {
      margin: 0 calc(2 / 16 * 100%);
    }
  }
}
