@import '../css/vars.css';

.page_members {
  padding: calc(var(--yr) * 8) var(--xr);

  h1 {
    margin-bottom: calc(var(--yr) * 5);
  }

  & > div {
    max-width: 42rem;
  }

  &_notice {
    padding: var(--xr);
    margin: var(--yr) 0 calc(var(--yr) * 4);
    background: color(green a(-90%));
    border: 1px solid color(green a(-60%));
    border-radius: var(--yr);
  }

  &_list {
    .list_members {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--xr);

      &_item {
        display: flex;

        & > a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          color: black;
          text-decoration: none;
          background-color: color(white b(9%));
          padding: calc(var(--yr) * 3);
          border-radius: var(--yr);
          border: 0;
        }

        .image {
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background-color: color(color(white b(9%)) blend(var(--pr_color) 60%));
          border-radius: 50%;
          margin-right: var(--xr);
          overflow: hidden;
          font-size: 26px;
          font-weight: var(--fw_bold);
          color: color(white b(9%));
        }
      }

      @media (--s) {
        grid-template-columns: 1fr 1fr;
      }
    }

    .table_members {
      font-size: calc(var(--yr) * 3.5);
      line-height: calc(var(--yr) * 5);

      &_item {
        border-bottom: 1px solid color(white b(+10%));
        margin-bottom: calc(var(--yr) * 2);
        padding-bottom: calc(var(--yr) * 2);


        .summary {
          font-weight: var(--fw_bold);

          .id {
            margin-right: calc(var(--xr) / 2);
          }
        }

        .all {
          display: flex;
          flex-wrap: wrap;

          &_item {
            display: flex;
            margin-right: calc(var(--xr));

            .label {
              /* margin-right: calc(var(--xr) / 2); */
            }

            .value {
              display: inline;
            }
          }
        }
      }
    }
  }

  @media (--m) {
    margin: 0 calc(2 / 16 * 100%);
  }
}


a.back {
  display: inline-block;
  border-bottom: 0;
  margin-bottom: calc(var(--yr) * 4);
  font-size: calc(var(--yr) * 3.5);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;

  border: 1px solid #d9d9d9;
  border-radius: var(--yr);
  padding: calc(var(--yr)) calc(var(--xr)) calc(var(--yr)) calc(var(--xr) * 1.5);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(var(--xr) * 0.25);
    width: 1rem;
    background: url('../images/bc_back.svg');
    background-size: auto 1rem;
    background-position: center;
    background-repeat: no-repeat;

  }
}
