@import '../css/vars.css';

.page_members {
  padding: calc(var(--yr) * 8) var(--xr);

  h1 {
    margin-bottom: calc(var(--yr) * 5);
  }

  & > div {
    max-width: 42rem;
  }

  &_list {
    .list_members {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: var(--xr);

      &_item {
        display: flex;

        & > a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          color: black;
          text-decoration: none;
          background-color: color(white b(9%));
          padding: calc(var(--yr) * 3);
          border-radius: var(--yr);
        }

        .image {
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background-color: color(color(white b(9%)) blend(var(--pr_color) 60%));
          border-radius: 50%;
          margin-right: var(--xr);
          overflow: hidden;
          font-size: 26px;
          font-weight: var(--fw_bold);
          color: color(white b(9%));
        }
      }

      @media (--s) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  @media (--m) {
    margin: 0 calc(2 / 16 * 100%);
  }
}
