@import './vars.css';

body {
  font-size: calc(var(--yr) * 4);
  line-height: calc(var(--yr) * 6);
  font-family: var(--ff_main);
  font-weight: var(--fw_main);

  @media (--s) {
    font-size: calc(var(--yr) * 4.5);
    line-height: calc(var(--yr) * 8);
  }
}

.app {
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

strong, b {
  font-weight: var(--fw_semi);
}

h1 {
  font-size: calc(var(--yr) * 6);
  line-height: calc(var(--yr) * 8);
  font-weight: var(--fw_bold);

  @media (--s) {
    font-size: calc(var(--yr) * 11.25);
    line-height: calc(var(--yr) * 12);
  }
}

h2 {
  font-size: calc(var(--yr) * 5);
  line-height: calc(var(--yr) * 7);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: var(--fw_bold);

  @media (--s) {
    font-size: calc(var(--yr) * 8.5);
    line-height: calc(var(--yr) * 10);
  }
}

.form {
  .error_notification {
    margin-bottom: calc(var(--yr) * 2);
    color: red;
  }

  &_inputs {
    margin-bottom: calc(var(--yr) * 4);

    &_item {
      margin-bottom: calc(var(--yr) * 6);

      & > label {
        display: inline-block;
        margin-bottom: calc(var(--yr) * 2);
        width: 100%;
        text-transform: uppercase;
        color: color(black w(40%));
        letter-spacing: 0.1em;
        font-size: calc(var(--yr) * 3.5);
      }

      .error {
        display: inline-block;
        margin-top: calc(var(--yr) * 1);
        width: 100%;
        color: red;
      }

      .hint {
        margin-top: calc(var(--yr) * 1);
        font-size: calc(var(--yr) * 3.5);
        line-height: calc(var(--yr) * 5.5);
      }

      .spoiler {
        &_btn {
          display: inline-block;
          border-bottom: 1px solid #d9d9d9;
          line-height: 1.5rem;
          position: relative;
          cursor: pointer;
        }
        &_inner {
          display: none;
        }

        &.show {
          .spoiler_inner {
            display: block;
          }
        }
      }

      input[type=text],
      input[type=tel],
      input[type=date],
      input[type=email],
      input[type=number],
      textarea {
        appearance: none;
        border: 0;
        background: color(white b(5%));
        /* box-shadow: inset 0 0 0 1px color(#000 alpha(-70%)); */
        border-radius: var(--yr);
        font-size: calc(var(--yr) * 4);
        line-height: calc(var(--yr) * 5);
        font-family: inherit;
        outline: none;
        padding: calc(var(--yr) * 3) calc(var(--xr) / 2);
        display: inline-block;
        width: 100%;

        &:focus {
          background: color(white blend(var(--pr_color) 10%));
        }
      }

      &.field_with_errors {
        input {
          background: color(white blend(red 5%));
          /* box-shadow: inset 0 0 0 1px color(red alpha(-20%)); */
        }
      }

      &.member_hotel {
        .hint {
          color: red;
        }
      }

      &.radio_buttons,
      &.enum_radio_buttons {
        .radio {
          display: block;
          margin-bottom: calc(var(--yr) * 2);

          & > label {
            /* text-transform: uppercase; */
            color: color(black w(40%));
            /* letter-spacing: 0.1em; */
            font-size: calc(var(--yr) * 4);

            input {
              margin-right: calc(var(--xr) / 2);
            }
          }
        }
      }
    }
  }
}

a {
  color: var(--pr_color);
  border-bottom: 1px solid color(var(--pr_color) alpha(-30%));
  text-decoration: none;
}

.page {
  &_header {
    margin-bottom: calc(var(--yr) * 8);

    .logo {
      padding-right: 60px;
      max-width: 23rem;

      a {
        border: 0;
      }

      svg {
        display: block;

        .main {
          fill: var(--pr_color);
        }
      }
    }

    @media (--s) {
      .logo {
        padding: calc(var(--yr) * 8) 0;
        height: calc(var(--yr) * 32);
      }
    }
  }
}

.btn {
  background-color: var(--pr_color);
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: var(--yr);
  padding: calc(var(--yr) * 5) calc(var(--xr));
  font-size: calc(var(--yr) * 3);
  line-height: calc(var(--yr) * 5);
  font-family: inherit;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  min-width: 8rem;
  text-decoration: none;
  text-align: center;

  &_red {
    background-color: red;
  }

  &:disabled {
    background-color: color(#fff blackness(+20%))
  }
}
