:root {
  --xr: 1rem;
  --yr: 0.25rem;

  --pr_color: #213752;
  --sc_color: #4a9047;
  --th_color: #1f4998;

  --ff_main: 'myriad-pro',sans-serif;

  --fw_main: 400;
  --fw_semi: 600;
  --fw_bold: 700;
}

@custom-media --s (min-width: 720px);
@custom-media --m (min-width: 980px);
